article {
  display: block;
}

.subject {
  background-color: #e0e0e0 !important;
  margin: 5px 0;
  padding: 2em;
  display: block;
}

.subject table {
  width: 20%;
}

.thread {
  background-color: #f0f0f0 !important;
  margin: 5px 0;
  padding: 2em;
  display: block;
}

.table th {
  color: #00c;
  font-size: 20px;
  font-weight: 300;
  padding: 16px 16px 0 0;
  width: 15%;
  border: none !important;
}

.table td {
  border: none !important;
}

.comment-profile {
  text-align: center;
  padding: 20px 10px;
}

.comment {
  background-color: #f0f0f0;
  padding: 10px 0 10px 0;
  margin-bottom: 10px;
}

.comment-content {
  min-height: 200px;
}

.details {
  background-color: #c0c0c0;
  padding: 10px;
  margin-top: 10px;
}

.btn-vote {
  cursor: pointer;
}

.btn-vote a {
  font-size: 10px;
}