{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static "css/forum.css" %}">
  <link rel="stylesheet" href="{% static "css/font-awesome-4.4.0/css/font-awesome.css" %}">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  {% block head_js %}{% endblock %}

</head>
<body>
<div class="container">
  <!-- Static navbar -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Django Forum</a>
      </div>
      {%  if user.is_authenticated %}
      <div id="navbar" class="navbar-collapse collapse">

        <ul class="nav navbar-nav navbar-right">
          <li><a href="{%  url 'logout' %}">Logout</a></li>
        </ul>
      </div><!--/.nav-collapse -->
      {% else %}
      <div id="navbar" class="navbar-collapse collapse">

        <ul class="nav navbar-nav navbar-right">
          <li><a href="{%  url 'login' %}">Login</a></li>
        </ul>
      </div><!--/.nav-collapse -->
      {%  endif %}
    </div><!--/.container-fluid -->
  </nav>
  <div class="row">
    <div class="col-md-12">
    {% if messages %}
      {% for message in messages %}
      <div class="alert alert-{{message.tags}}">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
          
          <p {% if message.tags %} class="{{ message.tags }}"{% endif %}><strong><center>{{ message }}</strong></center></p>
          

      </div>
      {% endfor %}
    {% endif %}
    </div>
    <section>
      <div class="col-md-12">{% block content %}{% endblock %}</div>
    </section>
  </div>
</div>

{% block footer_js %}{% endblock %}
</body>
</html>
