{% extends 'base.html' %}
{% load bootstrap %}
{% load staticfiles %}
{% block head_js %}
<script type="text/javascript" src="{% static 'js/tinymce/tinymce.min.js' %}"></script>
<script type="text/javascript">
  tinyMCE.init({
    mode: "textareas",
    theme: "modern",
    plugins: "paste",
});
</script>
{% endblock %}
{% block content %}
  <section>
    <div class="col-md-9">
      <form method="post" action="{{ form_action }}">
        {% csrf_token %}
        {{ form|bootstrap }}
        <div class="form-group">
          <button type="submit" class="btn btn-primary">{{button_text}}</button>
        </div>
      </form>
    </div>
  </section>
{% endblock %}