{% extends "base.html" %}
{% load thread_extras %}
{% load staticfiles %}
{% block head_js %}
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
{% endblock %}

{% block footer_js %}
<script type="text/javascript">
  /*   
    define our poll id for use with AngularJS 
  */
  var pollID = {{thread.poll.id}};
</script>
<script src="{% static "js/apps/pollsApp.js" %}"></script>
{% endblock %}
{% block content %}
  
  <div class="row header">
    
    <div class="container">
      <h2>{{ thread.name }}</h2>
      <div class="col-md-12">
          <table class="table">
              <tbody>
              <tr>
                  <th>
                    CREATED
                  </th>
                  <th>OWNER</th>
                  <th>LAST POST</th>
              </tr>
              <tr>
                  <td>
                    <time datetime="{{ thread.created_at }}">
                      {{ thread.created_at|started_time }}
                    </time>
                  </td>
                  <td>{{ thread.user.username }}</td>
                  <td>{% last_posted_user_name thread %}</td>
              </tr>
            </tbody>
          </table>
      </div>
      {% if thread.poll %}
        {% csrf_token %}
        {% include 'poll.html' %}
      {% endif %}
    
      {% if user.is_authenticated %}
        <p>
          <a href="{% url 'new_post' thread.id %}" class="btn btn-primary">New post</a>
        </p>
      {% endif %}
    </div>
  </div>
  <div class="container">
    {% for post in thread.posts.all %}
      {% include "post.html" %}
    {% endfor %}
  </div>
{% endblock %}