{% extends 'base.html' %}
{% load bootstrap %}
{% load staticfiles %}
{% block head_js %}
<script type="text/javascript" src="{% static 'js/tinymce/tinymce.min.js' %}"></script>
<script type="text/javascript">
  tinyMCE.init({
    mode: "textareas",
    theme: "modern",
    plugins: "paste",
});
</script>
{% endblock %}
{% block content %}
  <section>
    <div class="col-md-9">
      <form method="post" action="{% url 'new_thread' subject.id %}">
        {% csrf_token %}
        <div class="form-group">
        {{ thread_form|bootstrap }}
        {{ post_form|bootstrap }}
        </div>
        <div id="poll_form" class="form-group">
        {{ poll_form|bootstrap }}
        {{ poll_subject_formset.management_form }}
        {% for poll_subject_form in poll_subject_formset %}
            {{ poll_subject_form|bootstrap }}
        {% endfor %}
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Post new thread</button>
        </div>
      </form>
    </div>
  </section>
  <script type="text/javascript">
    $(function() {
      if(!$('#id_is_a_poll').is(':checked')) {
        $('#poll_form').hide();
      }
      
      $('#id_is_a_poll').click(function(el) {
        var poll_form = $('#poll_form');
        
        if(poll_form.is(":visible")) {
          poll_form.hide();
        } else {
          poll_form.show();
        }
      });
    });
  </script>
{% endblock %}